<% layout('layouts/boilerplate') -%>
<% script('/foo.js') -%>
<% stylesheet('/foo.css') -%>

<h1>I am the <%= what %> template</h1>

<!-- Using include will make any use of the partial function bug using relative paths. Much better to use partial actually. -->
<% include partials/included %>

<%- partial('partials/relative.ejs') %>
<%- partial('/views/partials/absolute.ejs', {_basePath: _basePath}) %>

<hr/>

<p>Here are some muppets we know about:
    <ul>
        <%- partial('partials/muppet', muppets) %>
    </ul>
</p>

<%- partial('partials/extra', muppets) %>

We load the same extra but with default values using the <b>defined('muppets', ['default1', 'default2'])</b> helper.
<div style="margin-left: 20px">
    <%- partial('partials/extra') %>
</div>

<% block('header', "<p>I'm in the header.</p>") %>
<% block('footer', "<p>I'm in the footer.</p>") %>

<hr/>

<p class="better-than-dead">I'm red if foo.css was loaded.</p>