<% layout('layouts/boilerplate') -%>
<% script('/foo.js') -%>
<% stylesheet('/foo.css') -%>

<h1>Partials, include and local variables</h1>

<b>I am the <%= what %> template</b>

<!-- Using include will make any use of the partial function bug using relative paths. Much better to use partial actually. -->
<% include partials/included %>

<%- partial('partials/relative', {text: "Loaded using: <code>partial('partials/relative.ejs')</code>"}) %>
<%- partial('/partials/absolute.ejs', {text: "Loaded using: <code>partial('/partials/absolute.ejs')</code>. Used <b>Express</b> configuration to find the view."}) %>
<%- partial('/partials/absolute', {text: "Loaded using: <code>partial('/partials/absolute')</code>. Used <b>Express</b> configuration to find the view."}) %>
<%- partial('/views/partials/absolute.ejs', {text: "Loaded using: <code>partial('/views/partials/absolute.ejs', {_basePath: base})</code>. Used <b><code>_basePath</code></b> value to find the view.", _basePath: base}) %>

<hr/>
<h1>Partials with variables</h1>

<p>Here are some muppets we know about:
    <ul>
        <%- partial('partials/muppet', muppets) %>
    </ul>
</p>

<%- partial('partials/extra') %>

<hr/>
<h1>Templates</h1>

<%- partial('templates/box', {box_title: 'My box!', box_content: '<div><b>Box content!</b></div>'})%>

<hr/>
<h1>Blocks, JS and CSS</h1>

<% block('header', "<p>I'm in the header.</p>") %>
<% block('footer', "<p>I'm in the footer.</p>") %>

<p class="better-than-dead">I'm red if foo.css was loaded.</p>