<% layout('layouts/boilerplate') -%>
<% script('/foo.js') -%>
<% stylesheet('/foo.css') -%>

<h1>Partials, include and local variables</h1>

<b>I am the <%= what %> template</b>

<!-- Using include will make any use of the partial function bug using relative paths. Much better to use partial actually. -->
<% include partials/included %>

<%- partial('partials/relative.ejs') %>
<%- partial('/views/partials/absolute.ejs', {_basePath: _basePath}) %>

<hr/>
<h1>Partials with variables</h1>

<p>Here are some muppets we know about:
    <ul>
        <%- partial('partials/muppet', muppets) %>
    </ul>
</p>

<%- partial('partials/extra') %>

<hr/>
<h1>Templates</h1>


<hr/>
<h1>Blocks, JS and CSS</h1>

<% block('header', "<p>I'm in the header.</p>") %>
<% block('footer', "<p>I'm in the footer.</p>") %>

<p class="better-than-dead">I'm red if foo.css was loaded.</p>